.main{
    width: 20%;
    margin: auto;
    margin-top: 150px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main>form{
    width: 100%;
}
.main>form>input,
.main>form>select{
    width: 90%;
    margin: auto;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0.1px solid gray;
}
#postBtn{
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}